.menuLink {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ffd700;
  border-radius: 5px;
  color: #212121;
  background-color: yellow;
  text-decoration: none;
}
.active {
  background-color: #ffa000;
  color: #fff;
  border-color: #fff;
}

.nav {
  padding: 15px 10px 10px 10px;
}
.breakLine {
  background: linear-gradient(to top, orangered, gold);
  height: 5px;
}
